<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyga.fintech">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/NoActionBar">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileMerchantActivity" />
        <activity android:name=".RegisterMerchantActivity" />
        <activity android:name=".RegisterChooseActivity" />
        <activity android:name=".QRScannerActivity" />
        <activity android:name=".HistoryMerchantActivity" />
        <activity android:name=".HistoryNasabahActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".TopUpActivity" />
        <activity android:name=".MerchantActivity">

        </activity>
        <activity android:name=".QRGeneratorActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".DetailPromoActivity" >

        </activity>
        <activity android:name=".PromoActivity" />
        <activity android:name=".DetailMerchantActivity" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>